/*JOURNEY PAGE*/
#map-canvas, #media-container {
    height:500px;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px 0px 0px 0px !important;
}

.no-margin {
    margin: 0;
}

/*LOWER SECTION*/
#lower-section {
    padding-top: 15px
}
/*LOWER SECTION*/

/*TABS*/

/*TABS*/


/*AVATAR SECTION*/
section#avatar-section div,img{
    display:inline-block;    
}

section#avatar-section {
    width:400px;
    height:auto;
}
/*AVATAR SECTION*/
/*JOURNEY PAGE*/