/*JOURNEY PAGE*/
#map-canvas, #media-container {
    height:500px;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px 0px 0px 0px !important;
}

.no-margin {
    margin: 0;
}



/*LOWER SECTION*/

#lower-section-content {
    padding-top: 15px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

/*TABS*/
.flat-nav-tabs{
   border:none;   
}

    .flat-nav-tabs > li > a {
        border-radius:0;
    }


/*AVATAR SECTION*/
section#avatar-section div,img{
    display:inline-block;    
    vertical-align:top;
}

section#avatar-section {
    width:400px;
    height:auto;
}

div#right-text{
margin-left:10px;
}

div#media-button-container {
    width:400px;
    height:auto;
}

div#view-info h2,h4{
    display:inline-block;
}
/*AVATAR SECTION*/
/*JOURNEY PAGE*/